li{
    float:left;
}

.shop_menu{
    width: 80%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;

}

.container{
    margin: 0 auto;
}

#face, #eyes, #tools, #lips{
    margin: 4px;
}
