
*{
    padding : 0;
    margin: 0;
}

header, footer, main, nav, aside, section, article{
    display : block;
}


#logo{
    background-image: url("../images/logo.jpg");
    display: block;
    width: 171px;
    height: 58px;
}

//------shop page---------

.shop_menu li{
	float: left;
}

.shop_menu ul{
	 list-style-type: none;
}


//------product page---------

.container .productHead p{
	border-bottom: 1px solid grey;
}

.productDetails{
	float:right;
	border-bottom: 3px solid black;
}

//-------products page--------
#prodImg{
    height: 101px;
    width: 102px;
    border-style: solid;
    border-width: 5px;
}
