
*{
    padding : 0;
    margin: 0;
}

header, footer, main, nav, aside, section, article{
    display : block;
}

html, body {

    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: Arial,Helvetica,sans-serif;
}

#homePic{
	width: 90%;
}

//-----Account----
div.err-msg{
    float: right;
}

//----Main Nav-------
.main-menu{
    background: #fff;
    border: 1px solid white;
}

.account{
    display: none;
}

.user-menu .manage-page{
    display: none;
}

.user-menu{
    margin: 0;
    min-height: 10px;
}

.user-menu ul li{
    float: right;
    margin-left: 32px;
}

.user-menu ul{
    list-style: none;
}

.user-menu li a, .user-menu li a:visited, .user-menu li a:hover, .user-menu li a:active {
    color: #646568;
    font-size: 12px;
    text-decoration: none;
}

.user-menu li a:hover{
    color:#333;
}

.greeting{
    color: #646568;
    font-size: 12px;
    font-weight: 700;
}

.main-menu ul{
    list-style: none;
    float: right;

}

.main-menu li {
    float: right;
    margin-left: 17px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    color: #646568;
    border-bottom: 4px solid #646568;
    padding: 0;

}


.main-menu li a, .main-menu li a:visited, .main-menu li a:active,.main-menu li a:hover, .main-menu li a:focus {
    color: #646568;
    text-decoration: none;
    padding: 0;
    margin-top: 30px;
    outline: 0;

}

#user{
    position: relative;
    display: inline-block;
    bottom: 0;
    right: 0;
    z-index: 9999;
    margin: 10px;
   float: right;

}

.signOut{
    cursor: pointer;
}

#logo{
    display: block;
    background: url('../../images/logo1.jpg'); 
    width: 160px;
    height: 65px;
}

.container-fluid{
    background: #fff;
    border: 1px solid #fff;
}

#loggedIn{
    display: none;
    direction: rtl;
}

//-----manage page--------
.manage-nav a {
    color: black;
}

#UserCtrl .container{
    direction: rtl;
}

.new-item{
    direction: rtl;
}

.manage-nav li{
    border-bottom: 1px black dotted;
    max-width: 300px;
  }

 ul.manage-nav {
    list-style: none;
}

.manage-nav a {
    color: #777;
    font-size: 14px;
}


.form-control{
    height:inherit;
}

.input{
    margin-bottom: 10px;
}

input[type="file"]{
   width: inherit;
}

.imageUpload{
    float: left;
    width: 45%;
    margin-top: 5px;
}

.addItem{
    float: right;
    width: 50%;
    direction: rtl;

}

//------shop page---------

#shopCtrl .shop_menu li{
	float: left;
    list-style-type: none;

}

#shopCtrl .shop_menu ul{
	 list-style-type: none;
}


#shopCtrl .shop_menu li{
    float: left;
}

#shopCtrl li{
    float:right;
    list-style-type: none;
}

#shopCtrl .shop_menu{
    width: 726px;
    margin: 0 auto;
    position: relative;
    text-align: right;

}

#shopCtrl .container{
    margin: 0 auto;
}

#shopCtrl .cateory-space {
    margin: 11px;
}

#shopCtrl #face :hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#shopCtrl #tools :hover{
     opacity: 0.8;
    filter: alpha(opacity=80);
}
#shopCtrl #eyes :hover{
     opacity: 0.8;
    filter: alpha(opacity=80);
}
#shopCtrl #lips :hover{
     opacity: 0.8;
    filter: alpha(opacity=80);
}



//------product page---------

.container .productHead p{
	border-bottom: 1px solid grey;
}

.productDetails{
	float:right;
	border-bottom: 3px solid black;
}

#productCtrl .productDetails{
    width: 35%;
	direction: rtl;
}

#productCtrl .productHead{
    border-bottom: 1px solid gray;
}

#productCtrl .productHead h4{
    font-weight: 700;
}

#productCtrl .buyProd {
    /* width: 128px; */
    border: 1px dotted gray;
    /* float: right; */
    position: absolute;
    padding: 0px 0px 2px 36px;
    margin: 7px 141px;
}

#productCtrl .buyProd p{
    padding: 0;
    margin: 0;
}

#productCtrl .buyProd h6{
    margin: 0;
    font-size: 12px;
}

#productCtrl .container section{
    float: right;
}

#productCtrl .buyProd p{
    font-size: 10px;
}

#productCtrl .prodData p{
        padding-top: 8px;
        height: 158px;
}

#productCtrl .prodPic img{
    border: 1px dotted gray;
}

#productCtrl .prodPic{
    padding: 38px 48px 0px 0px;
}

#productCtrl #add_cart a{
    background: url('../../images/cart.jpg') 0 0;
    display: block;
    width: 92px;
    border: 1px dotted gray;
    height: 30px;
}

#productCtrl #add_cart a:hover{
    background: url('../../images/cart.jpg') 82px 0;
    display: block;
    width: 92px;
    height: 30px;
}

#productCtrl .cart #add_cart{
    float:left;
}

#productCtrl .cart .desc{
    float: left;
    border: 1px dotted gray;
    height: 30px;
    padding: 0 7px;
}

#productCtrl .cart{
    width: 197px;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    float: left;
}

#productCtrl .cart-msg{
    font-weight: 700;
}


//-------products page--------
.container{
    width: 110px;
    float: left;
}
.prodDiv{
    border: 1px solid #000;
    text-align: center;
    margin: 5px;
    min-width: 150px;
    float: left;
    position: relative;
    cursor: pointer;
}

.prodsWrap{
    direction: rtl;
}

.prodDiv a{
    color: rgba(255,255,255,.15);
    text-decoration: none;
}

#prodsWrap{
    width:90%;
    margin: 0 auto;
}

//-------looks page--------

#lookDiv{
   /* border-style: solid;
    border-width: 5px;
    float: left;
    position: relative;*/
    border-style: solid;
    border-width: 5px;
    width: 700px;

    float: left;
    position: relative;
    margin-top: 60px;
    margin-right: -2%;
    margin-left: 8%;

}

#wrapper{
    margin: 0 auto;
    width: 80%;
    position: relative;
    text-align: center;
}

.looks-pics{
    float: left;
    margin: 4px;
    border: 1px solid #000;
    position: relative;

}

.looks-items{
    margin: 0 auto;
    width: 688px;
}

@media only screen and (max-width: 800px) 
{
	.looks-items, #shopCtrl .shop_menu{
		width: 80%;
	}

}

.clear{
    clear:both;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }

.lookDetails{
    width: 100px;
    float: left;
    text-align: right;
    font-size: 11px;
    background: linear-gradient(#fff,#f3f2ee);
    color: #58595B;
    margin: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    vertical-align: bottom;
    transform: translateX(-100%);
}

#mygallery{
    width: 80%;
    height: 100%;
    float: left;
}

#prodLook{
     border-style:dotted;
    border-width: 1px;
    float: left;
    position: relative;
    margin-top: 60px;
}

.prodItem{
    text-align: center;
    border-style:dotted;
    border-width: 1px;
    float: left;
    display: none;
}

.prodItem img{
    border: 1px dotted #666;
}

.prodItem a{
    cursor: pointer;
    text-decoration: none;
    color: #646568;
}

.prod-details{
     text-align: right;
     padding-right: 4px;
     border: 1px dotted #666;
     font-size: 11px;
}

.gallery-arrow{    
    width: 17px;
    background: linear-gradient(#fff,#f3f2ee);
    border: 1px dotted rgba(0,0,0,0.5);
}

.gallery-arrow span.glyphicon{
    font-size: 20px;
    margin: -13px;
    color: #231
}

//---------WishList--------



ul.wish-item.ng-scope {
    list-style: none;
    font-size: 10px;
}

ul.wish-item {
    border: 1px dashed #888;
    list-style: none;
    font-size: 10px;
    width: 70%;
    margin: 5px auto;
    position: relative;

}

ul.wish-item span{
    position: absolute;
    right: 12px;
    top: 7px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
}

ul.wish-item a, ul.wish-item a:hover, ul.wish-item a:active, ul.wish-item a:visited{
    color: #333;
    text-decoration: none;
}

#AccountCtrl .msg{
    margin: 20px;
    font-weight: 700;
    font-size: 15px;
}

.looks-items .text{
    width: 100%;
    height: 45px;
    line-height: 45px;
    opacity: 0;
    color: #222;
    position: absolute;
    z-index: 8;

}

#look_fresh .text {
    background: #FBFBFB;
    color: #2AB0A9;
}

#look_smoky .text {
    background: #EEE6FB;
    color: #2B2725;
}


#look_color .text {
    background: #FAEDE5;
    color: #EF2F5B;
}

#look_glam .text {
    background: #FBEFFB;
    color: #CC459E;
}

.looks-pics:hover .text {
  opacity: 0.7;
  text-align: center;
  color: black;
  font-size: 27px;    
  transform: translate(0,-100%);
}