<!DOCTYPE html>
<html lang="en" ng-app="Looks">
<head>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="531479800503-6lvg1h8gotm5e80p7vcll0q3hfilbg81.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/dev/UserService.js"></script>
    <script src="js/dev/looks.js"></script>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/dev/style.css">
    <meta charset="UTF-8">
    <title>מראות איפור</title>
    <script>
      function onSignIn(googleUser) {   // when user auth this function will call
       console.log("loggedIn");
       angular.element(document.getElementById('LookCtrl')).scope().signIn(googleUser);

      };
    </script>
</head>
<body id="LookCtrl" ng-controller="LookCtrl">
    <nav class="main-menu navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" id="logo"></a>
        <div id="user">
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" ></div><br>
            <div id="loggedIn">
              <span class="greeting"></span>
              <a class="signOut" ng-click="signOut()">התנתק</a>
            </div> 
        </div>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="index.html">עמוד הבית</a></li>
        <li><a href="shop.html">מוצרים</a></li>
        <li><a href="looks.html">מראות-איפור</a></li>
        <li><a href="#">חשבון אישי</a></li>
        <li class="manage-page"><a href="managePage.html">עמוד ניהול</a></li>
      </ul>
    </div>
  </nav>
    <div class ="looksItems">
        <div ng-repeat="looks in mylook.looks">
            <a href="look.html?look={{looks.look}}">
                <div id={{looks.look}}>
                    <img ng-src=images/{{looks.image}}>
                </div>
            </a>
        </div>
      </div>
</body>
</html>