<!DOCTYPE html>
<html lang="en" ng-app="MakeUpApp">
  <head>
      <base href="/">
      <script src="js/lib/angular/angular.min.js"></script>
      <script src="js/lib/angular/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <meta name="google-signin-scope" content="profile email">
      <meta name="google-signin-client_id" content="531479800503-6lvg1h8gotm5e80p7vcll0q3hfilbg81.apps.googleusercontent.com">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script src="js/dev/UserService.js"></script>
      <script src="js/dev/makeup.js"></script>
      <link rel="stylesheet" href="css/lib/bootstrap.min.css">
      <link rel="stylesheet" href="css/lib/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/dev/style.css">
      <meta charset="UTF-8">
      <title>מוצרים</title>
      <script>
        function onSignIn(googleUser) {   // when user auth this function will call
         angular.element(document.getElementById('MakeUpCtrl')).scope().signIn(googleUser);
        };
      </script>
  </head>
  <body id="MakeUpCtrl" ng-controller="MakeUpCtrl">
  <nav class="user-menu navbar">
    <div id="user">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" ></div><br>
    </div>
    <ul>
      <li id="loggedIn"><span class="greeting"></span> <a class="signOut" ng-click="signOut()">התנתק</a></li>
      <li class="account"><a ext-link href="account.html">סל קניות</a></li>
      <li class="manage-page"><a ext-link href="managePage.html">עמוד ניהול</a></li>
    </ul>
  </nav>
  <nav class="main-menu navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" id="logo"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a ext-link class="active" href="index.html">עמוד הבית</a></li>
        <li><a ext-link href="shop.html">מוצרים</a></li>
        <li><a ext-link href="looks.html">מראות-איפור</a></li>
      </ul>
    </div>
  </nav>
    <div id="prodsWrap" ng-repeat="product in products.products" >
        <div class="prodDiv">
          <a ext-link href="product.html?id={{product.id}}"><div class="prodImg"><img ng-src={{product.image}}></div></a>
          <div class="prodDes">{{product.name}}</div>
        </div>
    </div>

  </body>
</html>